/*
.togetherjs-cursor {
  
    display: none;
}

.togetherjs {
  
    display: none;
}


.togetherjs * {
    box-sizing: content-box !important;
    display: none;
}*/
#togetherjs-modal-background {
    position: fixed;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10001;
    visibility: hidden;
}
 #togetherjs-intro{
    background-color: red;
    color: #000;
    padding: 0px 7px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px !important;
    position: fixed;
    z-index: -1000000000000000;
    top: 100%;
    left: 100%;
    margin-left: 400px;
    width: 0px;
    margin-top: -10em;
	visibility:hidden;
    
}

#togetherjs-dock {
    
    display: none;
}

/* Navigationsbar unsichtbar */  
.navbar {
    margin-bottom: 20px;
    overflow: visible;
	display:none;
}



body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.editable {
    display: inline-block;
    /*height: 20px;*/
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    width: 206px;

    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;

}

.editable:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.user-one {
    background-color: lightcoral;
}

.user-two {
    background-color: lightgrey;
}

.user-three {
    background-color: lightgreen;
}

.user-four {
    background-color: orange;
}

.user-five {
    background-color: lightpink;
}

.user-six {
    background-color: #add8e6;
}

.popover.right .arrow {
    top: 46px;
}

.popover.bottom .arrow {
    left: 30px;
}
.popover-content {
    max-height: 600px;
    overflow: auto;
}

.config .popover {
	margin-left: -325px; 
	min-width: 320px;

}

#config .form-horizontal .control-group {
	margin-bottom: 5px;
}

#config .popover .form-horizontal .control-label {
	width: 110px;
}

#config .popover .form-horizontal .controls {
	margin-left: 120px;
}

#config .popover-title {
	font-weight: bold;
}
h1, h2, h3{
		
text-decoration: underline;
	
	
}

 .upper-button {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.bottom-button {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.black-pick:hover {
	background-color: #000;
	border-color: #000;
}
.black-pick {
	background-color: #202020;
	border-color: #202020;
}


#mainView {
    bottom: 0px; 
    overflow: scroll; 
    position: fixed; 
    top: 39px; 
    width: 100%;
}